*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
:root{
    --swiper-theme-color: #f55f8d;
}
html,
body {
  color: #636363;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 2s linear;
}
.container {
  max-width: 1199px;
  margin: auto;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content nav {
  display: flex;
  align-items: center;
}
.header__content nav ul {
  display: flex;
  margin-right: 30px;
}
.header__content nav ul li {
  padding: 50px 15px;
  list-style: none;
}
.header__content nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #070120;
  font-size: 15px;
  font-weight: 500;
  transition: 0.1s linear;
}
.header__content nav ul li a:hover {
  color: #f55f8d;
}
.header__content nav ul li a:hover span {
  animation: HeaderAnimation 0.3s;
}
.header__content nav ul li a i {
  font-size: 10px;
  vertical-align: middle;
  margin-top: -3px;
}
.header__content nav ul li a span {
  display: inline-block;
  transition: all 0.3s;
}
.btn-gradient {
  padding: 20px 35px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
}
.btn-gradient:hover {
  background-position: right center;
}

/* CAROUSEL */
.carousel {
  padding-top: 180px;
  background-image: url("../img/pic2.png");
  background-position: top;
  background-size: 100%;
  overflow: hidden;
}
.carousel__content {
  display: flex;
  align-items: center;
}
.carousel__left {
  width: 60%;
}
.carousel__right {
  width: 40%;
}
.title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: 600;
}
.title h2 {
  font-size: 70px;
  color: #262626;
  font-weight: 700;
  line-height: 1.1;
  margin: 20px 0;
}
.carousel__acticle p {
  font-size: 18px;
  margin-bottom: 15px;
}
.carousel__acticle ul {
  margin: 20px 0;
}
.carousel__acticle ul li {
  padding: 10px 0;
  font-style: 20px;
  list-style: none;
}
.carousel__acticle ul li i {
  padding: 5px;
  border-radius: 50%;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  font-size: 24px;
  margin-right: 10px;
}
.carousel__acticle ul li span {
  font-size: 20px;
}
.carousel__banner {
  margin-left: 60px;
}
/* SERVICE */
.service {
  margin: 115px 0;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.service__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
}
.service__content .service__item {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  border-radius: 10px;
  transition: 0.5s;
}
.service__content .service__item:hover {
  margin-top: -20px;
  margin-bottom: 20px;
}
.service__content .service__item img {
  width: 215px;
  object-fit: cover;
}
.service__content .service__item h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 15px 0;
  color: #262626;
}
/* ABOUT */
.about {
  margin-bottom: 85px;
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
}
.about__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  position: relative;
}
.about__left {
  position: absolute;
  left: -200px;
  width: 60%;
}
.about__left img {
  width: 100%;
  border-radius: 100px;
}
.about__right {
  width: 50%;
}
.carousel__about {
  font-style: 16px;
}
.carousel__about ul {
  list-style: none;
  margin: 10px 0 30px 0;
}
.carousel__about ul i {
  color: #f55f8d;
  font-size: 24px;
  vertical-align: middle;
}
/* NUMBER */
.number {
  background-image: url("../img/bg14.png");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 0 50px;
}
.number__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.number__item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  display: inline-block;
  color: white;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 100rem;
}
.number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
}
.number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
}

/* FEATURES */
.features {
  margin: 115px 0;
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.features__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features__left,
.features__right {
  width: 50%;
}
.features__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  transition: all 1s;
}
.features__item-pd {
  padding: 0 50px 30px 0;
}
.features__item-pd:nth-of-type(3) {
  padding: 0 0 30px 50px;
}
.features__item::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s linear;
  opacity: 0;
}
.features__item:hover::after {
  opacity: 1;
}
.features__item:hover i,
.features__item:hover div,
.features__item:hover h3 {
  color: white;
  z-index: 9999;
}
.features__left i {
  font-size: 80px;
  color: #f55f8d;
  line-height: 1;
  z-index: 1;
  transition: 1s linear;
}
.features__item-text {
  margin-left: 25px;
}
.features__item-text h3 {
  font-size: 24px;
  color: #262626;
  transition: 1s linear;
}
.features__item-text p {
  transition: 1s linear;
}
.features__right .features__banner {
  margin-right: -80px;
}
.features__right img {
  width: 100%;
  animation: animationFeaturesImg 5s linear infinite;
}

/* PORTFOLIO */
.portfolio {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
}
.portfolio__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  grid-template-rows: 450px 200px 300px;
  gap: 35px;
}
.portfolio__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.portfolio__item::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skew(-25deg);
  transition: all 0.7s;
}
.portfolio__item:hover::after {
  left: 150%;
}
.portfolio__item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.portfolio__item-2 {
  grid-column: 3 / span 1;
}
.portfolio__item-3 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.portfolio__item-4 {
  grid-column: 2 / span 1;
}
.portfolio__item-5 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}
.portfolio__item-6 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
  display: block;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
  transition: 0.5s linear;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.portfolio__overlay .portfolio-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.portfolio-search a {
  color: white;
  display: block;
}
.portfolio__item .portfolio-title {
  position: absolute;
  left: 30px;
  bottom: 0;
  color: white;
  text-align: left;
  transition: 0.5 linear;
  transition: all 0.75s;
}
.portfolio__item .portfolio-title h3 {
  font-size: 22px;
  transition: 0.5 linear;
}
.portfolio__item .portfolio-title p {
  opacity: 0.7;
}
.portfolio__item:hover .portfolio-search {
  top: 20px;
  right: 20px;
  transition: all 0.75s;
}
.portfolio__item:hover .portfolio-title {
  transform: translateY(-30px);
  transition: all 0.75s;
}
/* PLAN */
.plan {
  padding: 115px 0;
  text-align: center;
  background-image: url("../img/bg16.png");
  background-size: cover;
  background-position: center;
}
.plan__content {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.plan__item {
  padding: 35px 60px;
  border-radius: 10px;
  border: 3px solid transparent;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: 0.5s linear;
  position: relative;
}
.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}
.plan__item h2 {
  color: #262626;
  font-weight: 700;
  font-size: 32px;
}
.plan__item p {
  color: #262626;
  font-size: 18px;
  font-weight: 700;
}
.plan__item p span {
  font-size: 50px;
  color: #f8ae56;
}
.plan__item img {
  width: 50%;
}
.plan__item ul {
  border-top: 1px solid #e1e1f0;
  padding: 15px 0;
}
.plan__item ul li {
  list-style: none;
  text-align: left;
  padding-top: 10px;
  color: #262626;
  font-size: 18px;
}
.plan__item ul li i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100rem;
  background-color: #fdf0f3;
  color: #f55f8d;
  margin-right: 15px;
  font-style: 12px;
}
.plan__item .btn-gradient {
  margin-top: 20px;
}
/* BLOG */
.blog {
  background-image: url("../img/bg16.png");
  background-position: top center;
  background-size: cover;
  margin-bottom: 50px;
}
.blog .title {
  text-align: center;
}
.blog__card {
  background: rgba(245, 95, 141, 0.1);
}
.card__top {
  position: relative;
}
.card__top img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card__top p {
  position: absolute;
  bottom: 0;
  left: 15px;
  transform: translateY(50%);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: none;
  cursor: pointer;
}
.card__body {
  padding: 30px 15px 20px 15px;
  margin-bottom: 20px;
}
.card__body h3 {
  font-size: 24px;
  color: #070120;
}
.card__bot {
  display: flex;
  justify-content: left;
  align-items: center;
  border-top: 1px solid #f2e2e6;
  padding: 15px;
}
.card__bot p {
  text-transform: uppercase;
  font-size: 14px;
}
.card__bot-last {
  padding-left: 20px;
}
.card__bot p i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.card__bot p span {
  color: #f55f8d;
}
/* TESTIMONIAL */
.testimontial {
    background-image: url('../img/bg17.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  margin-bottom: 115px;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}
.testimonial-pic::before,
.testimonial-pic::after{
    content: "";
    position: absolute;
    background-color:#f55f8d;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%,0);
    opacity: 0;
}
.testimonial-pic::before{
    width: 15px;
    height: 15px;
    bottom: 30px;
}
.testimonial-pic::after{
    width: 10px;
    height: 10px;
    bottom: 0;
}
.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  overflow: hidden;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
  position: relative;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic{
  padding: 0 0 40px;
}
.testimonial-pic .shape-bx{
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 34px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    background-color:#f55f8d;
    transition: 1s linear;
}
.testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -1px;
    background-image: url('../img/pattern12.png');
    background-position: bottom;
    background-size: contain;
    transition: 1s linear;
}
.testimonial-thumbs .swiper-slide-thumb-active{
    padding-bottom: 18px;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::after,
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::before,
.testimonial-thumbs .swiper-slide-thumb-active .shape-bx{
    opacity: 1;
} 
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.testimonial-text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color:#f55f8d;
    transform: rotate(180deg);
}
.testimonial-text h3 {
  color: #070120;
  font-size: 22px;
}
.testimonial-text span {
    display: block;
    color: #f55f8d;
    font-size: 18px;
    font-weight: 700px;
    font-style: italic;
    margin-bottom: 50px;
}
.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  padding: 0 15px 15px;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0;
}
/* FOOTER */
footer {
  background-image: url("../img/bg4.png");
  background-size: contain;
  background-position: center;
  background-color: #0e1b1f;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/pattern2.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__top {
  display: flex;
  padding: 50px;
  color: #070120;
  background-color: #fff;
  background-image: url("../img/pattern3.png");
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  position: relative;
}
.footer__top-text,
.footer__top-form {
  width: 50%;
}
.footer__top-text h3 {
  font-size: 30px;
}
.footer__top-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__top-form input {
  padding: 20px;
  height: 100%;
  flex-grow: 1;
  border-radius: 10px 0 0 10px;
  border: 1px solid white;
  outline: 0;
  font-size: 15px;
}
.footer__top-form input:hover,
.footer__top-form input:focus {
  border: 1px solid #f55f8d;
  transition: 0.5s linear;
}
.footer__top-form button {
  padding: 20px 35px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
}
.footer__top-form button:hover i {
  animation: FooterAnimation 0.3s linear;
}
.footer__bot {
  padding: 70px 0;
}
.footer__content {
  display: flex;
  position: relative;
}
.footer__item {
  width: 100%;
}
.footer__item h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
}
.footer__item h3:before,
.footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 2px;
}
.footer__item h3:before {
  width: 15px;
}
.footer__item h3::after {
  width: 45px;
  left: 20px;
}
.footer__item li {
  list-style: none;
  padding: 10px 0;
}
.footer__item a {
  color: #636363;
  text-decoration: none;
  font-size: 16px;
}
.footer__item a i {
  padding-right: 10px;
}
.footer__item-first li {
  list-style: none;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0;
}
.footer__item-first i {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  line-height: 40px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  margin-right: 10px;
}
.footer__copyright {
  padding: 10px;
  background-color: #1f343b;
}
.footer__copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
}
.footer__copyright-left span {
  color: #f55f8d;
}
.footer__copyright-right a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 100rem;
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.footer__copyright-right .footer__link a:hover {
  background: #f55f8d;
  transition: 0.5s linear;
}
.back-to-top {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55f8d;
  text-decoration: none;
  font-size: 20px;
  color: white;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  box-shadow: -4px 4px 24px -10px #f55f8d;
}
@keyframes FooterAnimation {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes HeaderAnimation {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes animationFeaturesImg {
  0% {
    transform: translate(2px, 2px);
    transform: rotate(1deg);
  }
  50% {
    transform: translate(-2px, -2px);
    transform: rotate(-1deg);
  }
  100% {
    transform: translate(2px, 2px);
    transform: rotate(1deg);
  }
}
