*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
:root {
    --animate-delay: 1.5s;
}
/* HEADER */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navbar-toggler-icon{
    width: 55px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    font-size: 30px;
}
header .navbar-brand i{
    font-size: 40px;
    color: #35a22c;
    padding-right: 10px;
}
header .navbar-brand{
    font-size: 36px;
}
header .navbar .nav-item.active a{
    color: #35a22c !important;
}
header .navbar .nav-item:hover a{
    color: #35a22c !important;
    transition: 0.5s linear;
}
header .navbar .nav-item a{
    position: relative;
    margin-right: 10px;
}
header .navbar .nav-item a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color:#35a22c;
    transition: 0.5s linear;
}
header .navbar .nav-item a:hover::before,
header .navbar .nav-item.active a::before{
    width: 100%;
}
/* CAROUSEL */
#carousel .carousel-item .item-bg{
    height: 100vh;
    min-height: 500px;
}
.carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.carousel-indicators li.active{
    background-color:#35a22c;
}
.carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}
.carousel-caption img{
    width: 150px;
    height: 150px;
    border-radius: 100rem;
}
.carousel-caption h5{
    font-size: 56px;
}
.carousel-caption p{
    font-size: 24px;
}
.carousel-item {
    position: relative;
}
.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39,43,54,.5);
}
.carousel-indicators{
    bottom: 50px;
}
/* PROJECTS */
.projects__item {
    max-width: 750px;
}
.projects__item h2{
    font-weight: 700;
    font-size: 36px;
}
.projects .nav{
    justify-content: center;
}
.card{
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}
.card-body{
    border: 1px solid transparent;
    border-top: transparent;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.card:hover .card-body{
    border-color:#28a745;
    transition: 0.3s linear;
}
.card:hover .card-body h5{
    color: #28a745;
    transition: 0.3s linear;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#28a745;
    border: none;
}
.nav-pills .nav-link{
    border: 1px solid black;
    margin: 10px;
    color:black;
}

/* FEATURE */
.feature{
    background-image: url("../img/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}
.overlay {
    position: absolute;
    background: rgba(7,10,12,.72);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.feature .container{
    z-index: 1;
}
.feature-item{
    padding: 40px;
    border-radius: 10px;
    background: rgba(255, 255, 255,0.1);
    border: 1px solid rgba(255, 255, 255,0.2);
}
.feature-item:hover{
    background: #000;
    border: 1px solid white;
    transition: 0.3s linear;
}
.feature-item i{
    font-size: 48px;
    color: #28a745;
    font-weight: bold;
}
.feature-item h4{
    font-size: 18px;
    font-weight: 700;
}


/* AWARD */
.award {
    padding: 70px 0;
    position: relative;
}
.award-bg {
    background-image: url("../img/memphis_3.png");
    background-position: bottom left;
    background-size: 50%;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.award-left{
    padding: 40px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);;
    border-radius: 10px;
}
.award-left h2{
    font-weight: 700;
    font-size: 38px;
}
.award-left p,
.award-right p
{
    font-size: 15px;
    color: #585858;
}
.award-img{
    width: 100%;
    height: auto;
}

/* FOOTER */
footer{
    background: #222;
}
.footer-top a{
    padding-left: 10px;
}

.footer-top a i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    border: 1px solid #aaa;
    color: #aaa;
}
.footer-top a i:hover{
    border: 1px solid #28a745;
    color: #28a745;
    transition: all 0.5s;
}
.footer-bot{
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}
.footer-bot p,
.footer-bot p a{
    color: #aaa;
    text-decoration: none;
}
.footer-bot a:hover{
    color: #28a745;
    transition: all 0.5s;
}